.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input {
  border: 1px solid var(--color-lightblue);
  font-size: var(--input-font-size);
  height: var(--input-height);
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
  width: 90%;
  margin-bottom: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 10%;
  height: var(--input-height);
  background-color: var(--color-lightblue);
  font-size: var(--input-font-size);
  border-radius: 0px 5px 5px 0px;
}

.dropdown {
  position: absolute;
  z-index: 5;
  top: 40px;
  padding: 5px 5px;
  height: 210px;
  background: white;
  border: 1px solid #9b9b9b;
  box-shadow: 0 1px 3px 0 #9b9b9b;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  p {
    margin: 0 auto;
  }
  li {
    cursor: pointer;
    margin-bottom: 10px;
    &:hover {
      color: var(--color-lightblue);
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}